BOT_NAME=Fatir Ali Bot
BOT_NUMBER=03286492357
NODE_ENV=development
AUTO_REPLY_ENABLED=true
TYPING_DELAY=1000
REPLY_DELAY=2000
INCLUDE_HACKING_TIPS=true
INCLUDE_MARKETING_TIPS=true
INCLUDE_GENERAL_KNOWLEDGE=true
DEBUG=true
LOG_LEVEL=info